# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django
*.log
local_settings.py
/staticfiles/
# media/     # optional for development

# Node / Tailwind
node_modules/
package-lock.json
yarn.lock
npm-debug.log

# IDEs / Editors
.idea/
# .vscode/   # optional for development
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db

# Banco de dados local
# db.sqlite3  #optional for development
