{% load static %} <!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/output.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    <title>Template Tailwind</title>
  </head>
  <body class="w-full h-full m-0 flex flex-col bg-gray-100 text-gray-900 overflow-auto">
    <!-- Menu Superior -->
    <nav class="panel_color text-white shadow">
      <div class="max-w-7xl mx-auto my-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16 items-center">
          <div class="flex-shrink-0 text-lg font-semibold">
            <a href="{% url 'index' %}">My Django Reader</a>
          </div>
          <div id="options_menu" class="options_menu flex space-x-8">
            <a href="{% url 'author' %}" class="hover:text-gray-300 {% if request.resolver_match.url_name == 'author' %}active{% endif %}">Autor</a>
            <a href="{% url 'book' %}" class="hover:text-gray-300 {% if request.resolver_match.url_name == 'book' %}active{% endif %}">Livro</a>
            <a href="{% url 'reader' %}" class="hover:text-gray-300 {% if request.resolver_match.url_name == 'reader' %}active{% endif %}">Leitor</a>
            <a href="{% url 'read' %}" class="hover:text-gray-300 {% if request.resolver_match.url_name == 'read' %}active{% endif %}">Leitura</a>
            {% if user.is_authenticated %}
              <form method="post" action="{% url 'logout' %}" id="logout-form" class="hidden">
                {% csrf_token %}
              </form>
              <a href="#" class="logout hover:text-gray-300">Sair</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <!-- Conteúdo principal -->
    <main class="flex-1 flex align-center justify-center overflow-y-auto mb-20">
      <div class="container mx-auto px-4 py-8 ">
        {% if page == 'author' %}
          {% include 'core/author.html' %}
        {% elif page == 'book' %}
          {% include 'core/book.html' %}
        {% elif page == 'reader_login' %}
          {% include 'core/login.html' %}
        {% elif page == 'reader' %}
          {% include 'core/reader.html' %}
        {% elif page == 'read' %}
          {% include 'core/read.html' %}
        {% else %}
          <h2 class="text-3xl font-bold text-gray-900 mb-8 ">{{ the_title }}</h2>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            {% include 'core/cards.html' %}
          </div>
        {% endif %}
      </div>
    </main>
    <!-- Rodapé -->
    <footer class="panel_color text-white text-center py-4 fixed bottom-0 md:w-full"> Este é um exemplo de template com
      <a class="underline" href="https://tailwindcss.com/">TailwindCSS</a>.
    </footer>
    <script>
      document.querySelector('.logout').addEventListener('click', (e) => {
        e.preventDefault();
        document.getElementById('logout-form').submit();
      })
    </script>
  </body>
</html>
